Repository StricaHQ/ledger-live, pull requests merged in 2023-03, with the labels that each got.

#8 pool link updates
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/Body.jsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/LedgerPoolIcon.jsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/fields/ValidatorField.jsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/fields/ValidatorRow.jsx
  apps/ledger-live-mobile/src/families/cardano/AccountBodyHeader.ts
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/cardano/Delegations/Row.tsx
  apps/ledger-live-mobile/src/families/cardano/Delegations/index.tsx
  libs/ledger-live-common/src/families/cardano/utils.ts
Labels: common, desktop, mobile, fork

#9 Pools list in llc
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/SelectPool.tsx
  libs/ledger-live-common/src/families/cardano/react.ts
Labels: common, mobile, fork

#10 lld pools integration
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/Body.jsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/fields/ValidatorField.jsx
  apps/ledger-live-desktop/src/renderer/families/cardano/UnDelegateFlowModal/Body.jsx
Labels: desktop, fork
