Repository StricaHQ/ledger-live, pull requests merged in 2023-04, with the labels that each got.

#12 typo fixes
  apps/ledger-live-desktop/src/renderer/families/cardano/UndelegateFlowModal/Body.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/UndelegateFlowModal/index.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/UndelegateFlowModal/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/UndelegateFlowModal/steps/StepSummary.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/UndelegateFlowModal/types.ts
Labels: desktop, fork

#13 register modal
  apps/ledger-live-desktop/src/renderer/families/cardano/Delegation/ContextMenu.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/modals.ts
Labels: desktop, fork

#14 fix: LLM cardano staking lint fix
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/01-Started.tsx
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/04-ValidationError.tsx
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/04-ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/SelectPool.tsx
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/types.ts
  apps/ledger-live-mobile/src/families/cardano/Delegations/Row.tsx
  apps/ledger-live-mobile/src/families/cardano/Delegations/index.tsx
  apps/ledger-live-mobile/src/families/cardano/UndelegationFlow/01-Summary.tsx
  apps/ledger-live-mobile/src/families/cardano/UndelegationFlow/03-ValidationError.tsx
  apps/ledger-live-mobile/src/families/cardano/UndelegationFlow/03-ValidationSuccess.tsx
  apps/ledger-live-mobile/src/families/cardano/UndelegationFlow/index.tsx
  apps/ledger-live-mobile/src/families/cardano/UndelegationFlow/types.ts
  apps/ledger-live-mobile/src/families/cardano/shared/PoolRow.tsx
Labels: mobile, fork

#15 fix: lint fixes
  apps/ledger-live-desktop/src/renderer/families/cardano/AccountBalanceSummaryFooter.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/ScrollLoadingList.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/fields/ValidatorField.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/steps/StepDelegation.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/types.ts
  apps/ledger-live-desktop/src/renderer/families/cardano/SendAmountFields.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/UndelegateFlowModal/steps/StepConfirmation.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/UndelegateFlowModal/types.ts
Labels: desktop, fork

#16 fix: delegation bug fix
  apps/ledger-live-desktop/src/renderer/families/cardano/Delegation/index.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/steps/StepDelegation.tsx
Labels: desktop, fork

#17 Llm fixes
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/02-Summary.tsx
  apps/ledger-live-mobile/src/families/cardano/DelegationFlow/SelectPool.tsx
  libs/ledger-live-common/src/families/cardano/react.ts
Labels: common, mobile, fork

#18 loader for pool list
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/ScrollLoadingList.tsx
  apps/ledger-live-desktop/src/renderer/families/cardano/DelegationFlowModal/fields/ValidatorField.tsx
Labels: desktop, fork
